.ipynb_checkpoints/*
res/.ipynb_checkpoints/*
res/embeddings/*
res/corpora/tueba/tueba*
res/experiments/*
notebook/.ipynb_checkpoints/*
notebooks/*
corpora/*
.idea/*
*.pyc
__pycache__/
*egg-info/
*.swp
*.pt
build/
dist/

